openai
ffmpeg
nltk
PyPDF2
google-generativeai
reportlab
yfinance
seaborn
langchain
# download all langchain APIs for all
langchain-openai
langchain-anthropic
langchain-google-vertexai
langchain-cohere
langchain_community
langchain-fireworks
langchain-groq
langchain-mistralai
opencv-python

py-cpuinfo
beautifulsoup4
xgboost
lightgbm
shap
geopy
yt_dlp
pyyaml
mpmath
praw
tweepy
geopy
gtts
deep_translator
numpy
Pillow
geocoder
cryptography
requests
psutil
fastapi
statistics
biopython
pytz
biopython
pygame
numpy
web3
deepface
ultralytics
scikit-learn
librosa
SpeechRecognition
pydub
web3
python-nmap
scapy
statsmodels
spacy
textblob
gensim
pandas
networkx
pyspark
lime
pennylane
diffprivlib
federated_learning_utils
