openai
ffmpeg
nltk
PyPDF2
google-generativeai
reportlab
yfinance
seaborn
langchain
keras
streamlit
joblib
mlflow
selenium
optuna
dask
voice-cloning
ttkbootstrap
pyGithub
slack_sdk
google-auth
Voice-Cloning
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pyttsx3
langchain-openai
langchain-anthropic

langchain-google-vertexai
qrcode
playwright
Pygments
langchain-core
langchain-cohere
langchain_community
langchain-fireworks
langchain-groq
customtkinter
langchain-mistralai
opencv-python
pydub
py-cpuinfo
beautifulsoup4
xgboost
lightgbm
shap
tdqm
geopy
yt_dlp
biopython
pyyaml
pydub
mpmath
praw
tweepy
geopy
gtts
textblob
pytesseract
stable_baselines3
lime
dask
deep_translator
numpy
Pillow
geocoder
cryptography
yagmail
requests
psutil
fastapi
statistics
biopython
pytz
biopython
pygame
numpy
web3
deepface
ultralytics
scikit-learn
librosa
SpeechRecognition
pydub
web3
python-nmap
scapy
plyer
langdetect
statsmodels
spacy
textblob
gensim
pandas
networkx
pyspark
lime
diffprivlib
